body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  
  min-width: 1200px;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.site-navigation,
.user-navigation,
.menu-catalog-list,
.slider-list,
.specials-list,
.catalog-list,
.features-list,
.footer-social-link,
.footer-info-link,
.breadcrumbs,
.filler-list,
.fat-list,
.pagination-list {
  list-style: none;
}

.site-navigation a {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #333333;
  background-color: #ededed;
}

.menu-catalog-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

.menu-catalog-list a:hover,
.menu-catalog-list a:focus {
  background-color: #fbded7;
}

.menu-catalog-list a:active {
  background-color: #f6b5a5;
}

.catalog-item-current a,
.catalog-item-current a:hover,
a.site-navigation-current,
a.site-navigation-current:hover{
  color: #ffffff;
  background-color: #d07058;
}

.login-link,
.cart-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #a1b4a9;
}

.login-link:hover,
.login-link:focus,
.login-link:active,
.cart-link:hover,
.cart-link:focus,
.cart-link:active{
  color: #323232;
  background-color: #f8f7f4;
}

.modal-search,
.modal-login,
.cart {
  background-color: #f8f7f4;
}

.modal-search input::placeholder,
.modal-login input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.modal-login a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.modal-login a:hover,
.modal-login a:focus,
.modal-login a:active,
.blog a:hover,
.blog a:focus,
.blog a:active {
  color: #e84d37;
}

.cart-product {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-price {
  color: #999999;
}

.total-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.opening-hours {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.slider h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
  text-align: center;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: #ed5c3d;
}

.button:hover,
.button:focus {
  background-color: #f07a63;
}

.button:active {
  background-color: #db5338;
}

.big-btn {
  font-size: 32px;
  line-height: 44px;
}

.specials-list h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.specials-list p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-align: justify;
}

.specials-item {
  background-position: 20% 55%;
  background-repeat: no-repeat;
}

.specials-item:first-child {
  background-color: #8b1d38;
  background-image: url("../img/background_raspberry.jpg");
}

.specials-item:last-child {
  background-color: #392219;
  background-image: url("../img/background_chocolate.jpg");
}

.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}

.catalog-name:hover,
.catalog-name:focus,
.catalog-name:active,
.footer-info-link a:hover,
.footer-info-link a:focus,
.footer-info-link a:active,
.site-production a:hover,
.site-production a:focus,
.site-production a:active,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active{
  color: #ffbc9e;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.kg {
  font-size: 30px;
}

.features {
  background-color: #eee2c7;
  background-image: url("../img/wafer_pattern.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.features-about {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.feature-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/background_strawberry.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.blog a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscribe-wrap {
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 5px;
}

.subscribe {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.subscribe input::placeholder,
.modal-feedback input::placeholder,
.modal-feedback textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.footer-info-link a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-info-link .supplier {
  font-weight: 700;
}

.site-production,
.site-production a{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.modal-feedback {
  background-color: #f8f7f4;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.page-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.breadcrumbs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

a.breadcrumbs-current:hover {
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filter,
.filter select {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filter select {
  background-color: rgba(255, 255, 255, 0.2);
}

.filter select:hover,
.filter select:focus {
  color: #323232;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  vertical-align: middle;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.filter-button:active {
  background-color: #eaeaea;
}

.pagination-list a{
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-list a:active {
  color: #323232;
  background-color: #ffffff;
}

.main-header {
  margin-bottom: 5px;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-top: 6px;
}

.site-navigation {
  width: 350px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  margin-left: 23px;
  display: flex;
  justify-content: space-between;
}

.user-navigation {
  width: 245px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
}

.user-navigation li {
  padding: 0;
  margin: 0;
  height: 32px;
  text-align: center;
}

.search-link-item {
  width: 33px;
}

.login-link-item {
  width: 92px;
}

.cart-link-item {
  width: 100px;
}

.opening-hours {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-bottom: 4px;
}

.phone {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: auto;
}

.info-container {
  text-align: right;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

.slider {
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
}

.slider-list {
  padding: 0;
  margin: 0;
}

.slider-list-item {
  text-align: center;
}

.slider h2 {
  width: 670px;
  padding: 0;
  margin: 0 auto;
  padding-top: 268px;
  margin-bottom: 50px;
}

.big-btn {
  padding: 11px 20px;
  
}

.slider-buttons {
  list-style: none;
  display: flex;
}

.specials {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.specials-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.specials-item {
  width: 560px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 18px;
  padding-right: 27px;
  padding-bottom: 23px;
}

.specials-item h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.specials-item p {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}

.specials-btn {
  padding: 11px 20px;
  float: right;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin: 0;
  padding: 0;
  margin-right: 26px;
  width: 267px;
  text-align: center;
  margin-bottom: 38px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item img {
  margin-bottom: 8px;
  border-radius: 50%;
}

.features {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 41px;
}

.features-about {
  margin: 0;
  padding: 0;
  margin-right: 110px;
  margin-bottom: 5px;
  text-align: justify;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  margin: 0;
  padding: 0;
  padding-left: 55px;
  width: 505px;
  padding-top: 15px;
  margin-bottom: 6px;
}

.blog-subscribe {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 285px;
  padding-left: 20px;
  padding-top: 22px;
  padding-right: 255px;
}

.blog p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.subscribe-wrap {
  width: 550px;
}

.subscribe {
  padding-bottom: 26px;
}

.subscribe p {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 22px;
  padding-right: 10px;
  margin-bottom: 34px;
}

.form-subscribe {
  margin: 0;
  padding: 0;
  padding-left: 22px;
}

.form-subscribe input {
  height: 38px;
  width: 364px;
  margin-right: 6px;
}

.mail-btn {
  padding: 15px 17px;
}

.contacts-and-feedback {
  background-color: #fdfefe;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: -27px 0;
  margin: 0 -27px;
  padding-top: 62px;
  padding-bottom: 62px;
  padding-left: 871px;
  padding-right: 27px;
  margin-bottom: 15px;
}
 
.contacts-container {
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 28px;
  background-color: #fdfefe;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.address-container {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
}

.phone-container {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.feedback-btn {
  padding: 5px 27px;
}

.main-footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.footer-social-link {
  margin: 0;
  padding: 0;
  display: flex;
  width: 185px;
  margin-top: 20px;
  padding-top: 13px;
}

.footer-info-link {
  margin: 0;
  padding: 0;
  width: 360px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-info-link li{
  width: 175px;
}

.footer-copyright {
  width: 190px;
  padding-top: 2px;
  padding-left: 17px;
}

.academy-logo {
  display: block;
  margin: 0;
  padding: 0;
}

.hedear-wrap {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  order: -1;
  margin-top: auto;
}

.breadcrumbs li {
  margin-right: 15px;
}

.filter {
  display: flex;
  margin: 0;
  padding: 0;
  width: 879px;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-bottom: 27px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-right: 15px;
}

.filter legend {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.fat-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.fat-list li {
  margin-right: 15px;
}

.filler-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.filler-list li {
  margin-right: 15px;
}

.filter-button {
  padding: 10px 20px;
  margin: auto 0;
}

.inner .catalog-list{
  margin-bottom: 43px;
}

.inner .catalog {
  margin-bottom: 35px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.pagination-list li {
  margin-right: 15px;
}

.index {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: center 0;
}